<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.filipebarros.alfredfm</string>
	<key>connections</key>
	<dict>
		<key>110CBA6F-F5EC-4559-8972-97209CE1A5FE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42D05639-3F0F-4760-8214-317167E4173D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>1F93FD0B-FDA7-4071-977F-2785C331188D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42D05639-3F0F-4760-8214-317167E4173D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2C6BB7FF-59AF-4AB0-AE91-99E19C907162</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CED2969E-B8EB-401F-8D50-57CCF5D3E7BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>4BE8F656-584D-4E0A-B8E6-A0142A51859E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>110CBA6F-F5EC-4559-8972-97209CE1A5FE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>659A0890-0D79-4C7A-B8BC-2CECA2DE45B9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>691C93B3-E98C-40E5-8CBD-51D284B7354B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>7F6B3D85-4180-4352-865D-2B4C89DA04EB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>691C93B3-E98C-40E5-8CBD-51D284B7354B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>9789EAE3-F701-4172-80ED-DF2E14456B16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>691C93B3-E98C-40E5-8CBD-51D284B7354B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D6C96E2B-8524-4DD4-A648-74A2190852CD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1F93FD0B-FDA7-4071-977F-2785C331188D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>DEB9FAC9-CFB4-4AC2-86A3-8FAAF7897074</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42D4C908-6810-487C-B076-DD61BA89DD23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>F41B23CE-B218-4699-B891-670A90D4049F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42D4C908-6810-487C-B076-DD61BA89DD23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Filipe Barros</string>
	<key>description</key>
	<string>Last.fm on Alfred!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AlfredFM</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>artistinfo</string>
				<key>script</key>
				<string>/usr/bin/ruby artist_info.rb</string>
				<key>subtext</key>
				<string>Get Currently Playing Artist Information</string>
				<key>title</key>
				<string>Artist Info</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>DEB9FAC9-CFB4-4AC2-86A3-8FAAF7897074</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>http://www.last.fm/music/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>42D4C908-6810-487C-B076-DD61BA89DD23</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>similar</string>
				<key>runningsubtext</key>
				<string>Getting Similar Artists</string>
				<key>script</key>
				<string>/usr/bin/ruby similar.rb</string>
				<key>subtext</key>
				<string>Get Similar Artists</string>
				<key>title</key>
				<string>Similar Artists</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F41B23CE-B218-4699-B891-670A90D4049F</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>trackinfo</string>
				<key>script</key>
				<string>/usr/bin/ruby track_info.rb</string>
				<key>subtext</key>
				<string>Get Currently Playing Track Information</string>
				<key>title</key>
				<string>Track Info</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>659A0890-0D79-4C7A-B8BC-2CECA2DE45B9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>albuminfo</string>
				<key>script</key>
				<string>/usr/bin/ruby album_info.rb</string>
				<key>subtext</key>
				<string>Get Currently Playing Album Information</string>
				<key>title</key>
				<string>Album Info</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7F6B3D85-4180-4352-865D-2B4C89DA04EB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<true/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>691C93B3-E98C-40E5-8CBD-51D284B7354B</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>loved</string>
				<key>runningsubtext</key>
				<string>Getting List of Loved Tracks</string>
				<key>script</key>
				<string>/usr/bin/ruby loved.rb</string>
				<key>subtext</key>
				<string>Get Loved Tracks</string>
				<key>title</key>
				<string>Loved Tracks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>9789EAE3-F701-4172-80ED-DF2E14456B16</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>http://www.last.fm/user/{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>CED2969E-B8EB-401F-8D50-57CCF5D3E7BB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>friends</string>
				<key>runningsubtext</key>
				<string>Fetching Friends Information...</string>
				<key>script</key>
				<string>/usr/bin/ruby friends.rb</string>
				<key>subtext</key>
				<string>Get Friend Information</string>
				<key>title</key>
				<string>Friends</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2C6BB7FF-59AF-4AB0-AE91-99E19C907162</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/ruby love.rb</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1F93FD0B-FDA7-4071-977F-2785C331188D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>love</string>
				<key>subtext</key>
				<string>Love the Song That is Currently Playing</string>
				<key>text</key>
				<string>Love Song</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D6C96E2B-8524-4DD4-A648-74A2190852CD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>AlfredFM</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>42D05639-3F0F-4760-8214-317167E4173D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/ruby setup.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>110CBA6F-F5EC-4559-8972-97209CE1A5FE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>alfredfm</string>
				<key>subtext</key>
				<string>Initial Setup to Fully Interact with Last.fm Through Alfred!</string>
				<key>text</key>
				<string>Setup Last.fm Account</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>4BE8F656-584D-4E0A-B8E6-A0142A51859E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>110CBA6F-F5EC-4559-8972-97209CE1A5FE</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>1F93FD0B-FDA7-4071-977F-2785C331188D</key>
		<dict>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>2C6BB7FF-59AF-4AB0-AE91-99E19C907162</key>
		<dict>
			<key>ypos</key>
			<real>560</real>
		</dict>
		<key>42D05639-3F0F-4760-8214-317167E4173D</key>
		<dict>
			<key>ypos</key>
			<real>990</real>
		</dict>
		<key>42D4C908-6810-487C-B076-DD61BA89DD23</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>4BE8F656-584D-4E0A-B8E6-A0142A51859E</key>
		<dict>
			<key>ypos</key>
			<real>1050</real>
		</dict>
		<key>659A0890-0D79-4C7A-B8BC-2CECA2DE45B9</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>691C93B3-E98C-40E5-8CBD-51D284B7354B</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>7F6B3D85-4180-4352-865D-2B4C89DA04EB</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>9789EAE3-F701-4172-80ED-DF2E14456B16</key>
		<dict>
			<key>ypos</key>
			<real>450</real>
		</dict>
		<key>CED2969E-B8EB-401F-8D50-57CCF5D3E7BB</key>
		<dict>
			<key>ypos</key>
			<real>550</real>
		</dict>
		<key>D6C96E2B-8524-4DD4-A648-74A2190852CD</key>
		<dict>
			<key>ypos</key>
			<real>940</real>
		</dict>
		<key>DEB9FAC9-CFB4-4AC2-86A3-8FAAF7897074</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>F41B23CE-B218-4699-B891-670A90D4049F</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://github.com/zhaocai/alfred2-ruby-template</string>
</dict>
</plist>
